<header class="blog-header">
    <h1><i class="fa-solid fa-microphone"></i> Mon blog</h1>
    <nav>
        <a href="#"><i class="fa-solid fa-house"></i> Home</a>
        <a href="#"><i class="fa-solid fa-gears"></i> Admin</a>
    </nav>
</header>